body{
	
	/* background for the page */
background: #8E2DE2;  
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  
background: linear-gradient(to right, #4A00E0, #8E2DE2); 

	/* font */
font-family: 'Lato', sans-serif;
margin: 0;
z-index: 0;
}

.title{
position: absolute;
top: 30% auto;
left: 30% auto;
margin-top: -6%;
margin-left: 10%;

transform:  translateX(-30%) translateY(-30%) rotate(-90deg);
-ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg); /* IE 9 */
-webkit-transform:  translateX(-50%) translateY(-50%) rotate(-90deg); /* Safari 3-8 */
 
font-size: 5vh;
font-weight: 900;
color: red;

text-shadow: 4px 4px 8px #000000;


    
}

.line {
    transform: rotate(90deg);
    width: 32%;
    display: block;
    border: 1;
    border-top: 5px solid white;
   box-shadow: -4px -4px 8px #000000;
left: 10% auto;
margin-top: 26%;
margin-left: -3%;
    padding: 0;
}

.content{
position: absolute;
top: 30% auto;
left: 30% auto;
margin-top: -16%;
margin-left: 17%;


font-size: 2.7vh;
font-weight: 600;
color: white;


    
}
button {
border: none;
background: white;
color: black;
font-weight: 100;
padding: 2.7vh;
text-transform: uppercase;
border-radius: 6%;
display: inline-block;
transition: all 0.3s ease 0s;
    margin-top: 12%;
margin-left: 17%;
}

button:hover {
color: black;
font-weight: 700 ;
letter-spacing: 0.41vh;
background: red;
-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
transition: all 0.2s ease 0s;
}

img{
height: 69vh;
margin-left: 60%;
margin-top: -33%;

}
img:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}


.previous {
    background-color: white;
    color: black;
             text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50%;
    font-weight: 500;
     margin-top:-300px;
    margin-left: 800px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
   
}

.next {
    background-color: white;
    color: black;
     text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50%;
    font-weight: 500;
     margin-top:-300px;
    margin-left: 1200px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

.previous:hover {
    background-color: red;
     -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.next:hover {
    background-color: red;
     -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.mySlides {display:none;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;

}

/* add right and left class for menu*/
.right{
	float: right;
	padding: 1%;
	
}
.left{
	float: left;
	margin: 0 2vw;
	text-align:center;
	text-decoration: none;
	padding: 1%;
	font-size:3vh;
	font-weight:900;
	
}



li a {
  display: flex;
  margin: 0 2vw; /* make margin fluid, vw mean viewport witdth */
  color: white;
  text-align: center;
  text-decoration: none;
    
  font-size: 3vh; /* size should stay the same when zoom in and out*/
  font-weight: 300;
  
  
}

li.right:hover {
  background-color: red;

}
/* add navagation */
nav{
	z-index: 1;
	width: 100%;
	background-color: rgba(2,2,2,0.2);
    box-shadow: 1px 2px 4px black;
	top: 0;
	position: fixed;
    color: white;
	/*Create a separate background for the navagation/menu */
	background: #8E2DE2;  
	background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  
	background: linear-gradient(to right, #4A00E0, #8E2DE2); 
    border-radius: 4%;
}
