body{
	
	/* background for the page */
background: #8E2DE2;  
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  
background: linear-gradient(to right, #4A00E0, #8E2DE2); 

	/* font */
font-family: 'Lato', sans-serif;
}

h1{
	font-size: 24px;
	font-weight:900;
	color:red;
	margin-left:25px;
	margin-top:20px;
	text-shadow: 4px 4px 8px #000000;
}
