body{
	
	/* background for the page */
background: #8E2DE2;  
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  
background: linear-gradient(to right, #4A00E0, #8E2DE2); 

	/* font */
font-family: 'Lato', sans-serif;
}

h1{
	font-size: 24px;
	font-weight:900;
	color:red;
	margin-left:25px;
	margin-top:20px;
	text-shadow: 4px 4px 8px #000000;
}
span{
    
    font-size: 24px;
	font-weight:900;
	color:white;
	margin-left:20px;
	margin-top:20px;
	text-shadow: 4px 4px 8px #000000;
}


.title{
position: absolute;
top: 30% auto;
left: 30% auto;
margin-top: 420px;
margin-left: 150px;

transform:  translateX(-30%) translateY(-30%) rotate(-90deg);
-ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg); /* IE 9 */
-webkit-transform:  translateX(-50%) translateY(-50%) rotate(-90deg); /* Safari 3-8 */
 
font-size: 38px;
font-weight: 900;
color: red;

text-shadow: 4px 4px 8px #000000;
    
}

.line {
    transform: rotate(90deg);
    width: 480px;
    display: block;
    border: 1;
    border-top: 5px solid white;
   box-shadow: -4px -4px 8px #000000;
left: 10% auto;
margin-top: 420px;
margin-left: -10px;
    padding: 0;
}

.content{
position: absolute;
top: 30% auto;
left: 30% auto;
margin-top: 180px;
margin-left: 280px;


font-size: 20px;
font-weight: 600;
color: white;

text-shadow: 4px 4px 8px #000000;
    
}
button {
border: none;
background: white;
color: black;
font-weight: 100;
padding: 20px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
    margin-top: 180px;
margin-left: 280px;
}

button:hover {
color: black;
font-weight: 700 ;
letter-spacing: 3px;
background: red;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.2s ease 0s;
}
